@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
{
  /* you better change this stuff */
  margin: 300px;
  font-family: 'Roboto', sans-serif;
  color: #F0B666 ;
  background-color: #1f4590;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;

}